    <!-- ================== EMAIL Modal Popup =================== -->
    <div class="modal fade" id="email" tabindex="-1" role="dialog" aria-labelledby="fsModalemail" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="db_com email_div modal-com">
                    <div class="modal-header div_email">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    
                        </button>
                        <h4 class="modal-title" id="fsModalemail">Email</h4>
    
                    </div>
                    <div class="modal-body db_com">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="email_cont db_com">
    
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="email" placeholder="TO">
                                        </div>
                                    </div>
    
                                </div>
                                <div class="email_cont db_com">
    
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="email" placeholder="CC">
                                        </div>
                                    </div>
    
                                </div>
                                <div class="email_cont db_com">
    
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="email" placeholder="Subject">
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>
    
                        <div class="col-sm-12">
                            <div class="to_div db_com">
                                <div class="form-group">
                                    <textarea class="form-control" id="body" rows="6" placeholder="Body(Image Info)"></textarea>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="div_img_style db_com">
                                    <div class="col-sm-8">
                                        <h5>Attached Images:</h5>
                                        <div class="download_img">
                                            <img src="./assets/images/images.jpg">
                                            <h5>Image Title</h5>
                                        </div>
                                        <div class="download_img">
                                            <img src="./assets/images/images.jpg">
                                            <h5>Image Title</h5>
                                        </div>
                                        <div class="download_img">
                                            <img src="./assets/images/images.jpg">
                                            <h5>Image Title</h5>
                                        </div>
                                        <div class="download_img">
                                            <img src="./assets/images/images.jpg">
                                            <h5>Image Title</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="img_file db_com">
                                            <h5 class="add_bottom_line">Choose File Type</h5>
                                            <div class="radio down-input">
                                                <label>
                                                <input type="radio" name="o1" value="">
                                                <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                                Small JPEG
                                                </label>
                                            </div>
                                            <div class="radio down-input">
                                                <label>
                                                <input type="radio" name="o1" value="">
                                                <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                                Large JPEG
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="checkbox down-input di-check">
                                <label class="chek-label">
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                Include Image Data in Message Body
                                </label>
                            </div>
                        </div>
    
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="button" class="pull-right">SEND!</button>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>