/* Select Project Container Css Start Here 1/08/2017 */
.selectproject-maincontainer-section
{
margin-top:150px;
}
.selectproject-maincontainer-section .panel-heading
{
padding-bottom:0px;	
}
.selectproject-maincontainer-section .selectprojectform-container-section
{
background-color: #fff;
margin-top:0px;
padding:30px;
}
.selectproject-maincontainer-section .selectprojectform-container-section h1
{
margin-top:0px;
text-align:center;
margin-bottom:30px;	
font-size:30px;
}
.selectproject-maincontainer-section .selectprojectform-container-section .form-group select
{
background-color:#cccccc;
}
.selectproject-maincontainer-section .selectprojectform-container-section .form-group button
{
background-color:#cccccc;
}
.selectproject-maincontainer-section .form-group .dropdown-menu
{
z-index:9999;	
}																																																				 
/* Select Project Container Css End Here 1/08/2017 */
/* Breadcrumb Container Section Css Start Here 1/08/2017 */
.breadcrumb_container_section
{
background-color:#3e3e3e;	
}
.breadcrumb_container_section .breadcrumb
{
margin-bottom:0px;
background-color:transparent;	
}
.breadcrumb_container_section .breadcrumb li
{
line-height:24px;
font-size:16px;
color:#fff;
}
.breadcrumb_container_section .breadcrumb li a
{
color:#fff;	
}
.breadcrumb_container_section .breadcrumb li.active
{
font-weight:bold;	
}
/* Breadcrumb Container Section Css end Here 1/08/2017 */
/* Gallery Page Container Section Css Start Here 28/03/2017 */
#page-content-wrapper .rightside_menu_panel
{
background-color:#333333;
height:auto;	
}
#page-content-wrapper .rightside_menu_panel .rightside_menu_leftpanel ul
{
padding-left:0px;
list-style-type:none;
margin-bottom:0px;
}
#page-content-wrapper .rightside_menu_panel .rightside_menu_leftpanel ul li
{
display:inline-block;
margin-top:15px;
margin-bottom:15px;
}
#page-content-wrapper .rightside_menu_panel .rightside_menu_leftpanel ul li a
{
display:block;	
background-image:url('../../assets/images/button-background.jpg');	
padding:5px 15px;
color:#333;
border-radius:15px;
font-size:10px;
}
#page-content-wrapper .rightside_menu_panel .rightside_menu_middlepanel ul
{
padding-left:0px;
list-style-type:none;
margin-bottom:0px;	
text-align:center;
}
#page-content-wrapper .rightside_menu_panel .rightside_menu_middlepanel ul li
{
display:inline-block;
margin-top:15px;	
}
#page-content-wrapper .rightside_menu_panel .rightside_menu_middlepanel ul li p
{
font-size:10px;
color:#777;
margin-bottom:0px;
line-height:15px;	
text-align:center;
}
#page-content-wrapper .rightside_menu_panel .rightside_menu_middlepanel ul li a{display:block;	color:#fff;font-size: 11px;width: 25px;height: 25px;
border-radius: 100%;background-color: #333;text-align: center;line-height: 25px;}
#page-content-wrapper .rightside_menu_panel .rightside_menu_rightpanel ul
{
padding-left:0px;
list-style-type:none;
margin-bottom:0px;
float:right;
}
#page-content-wrapper .rightside_menu_panel .rightside_menu_rightpanel ul li
{
display:inline-block;
margin-top:15px;	
}
#page-content-wrapper .rightside_menu_panel .rightside_menu_rightpanel ul .rightside_textbutton_section a
{
display:block;	
background-image:url('../../assets/images/button-background.jpg');	
padding:5px 10px;
color:#333;
border-radius:15px;
font-size:10px;
}
#page-content-wrapper .rightside_menu_panel .rightside_menu_rightpanel ul li a
{
display:block;	
padding:0px 5px;
color:#fff;
border-radius:0px;
}
#page-content-wrapper .rightside_menu_panel .rightside_menu_rightpanel ul li a i
{
font-size:16px;	
}
#page-content-wrapper .rightside-gallerycontainer-panel
{
margin-top:30px;
}
#page-content-wrapper .rightside-gallerycontainer-panel .photogallery-container-section
{
text-align:center;	
margin-bottom:15px;
}
#page-content-wrapper .rightside-gallerycontainer-panel .photogallery-container-section img
{
margin:0px auto;	
}
#page-content-wrapper .rightside-gallerycontainer-panel .photogallery-container-section p
{
font-size:16px;
color:#fff;
}
#page-content-wrapper .rightside-gallerycontainer-panel .photogallery-container-section #image-editor-tools .plus-circle-button
{
position:absolute;
bottom:7px;
font-size:14px;
right:15px;
}
#page-content-wrapper .rightside-gallerycontainer-panel .photogallery-container-section #image-editor-tools .plus-circle-button i
{
background-color:#9c3127;
color:#fff;
line-height:24px;
width:24px;
border-radius:50%;
}
#page-content-wrapper .rightside-gallerycontainer-panel .photogallery-container-section #image-editor-tools
{
height:30px;
}
#page-content-wrapper .rightside-gallerycontainer-panel .photogallery-container-section #image-editor-tools ul
{
display:none;
}


/*dashboard-select*/
.dropdown-menu>.active>a {
color:#A9A9A9 !important;
text-decoration: none;
background-color: #535353  !important;
outline: 0;
}
.dropdown-menu.open {
	width:100% !important;
}
button.btn.dropdown-toggle.btn-default {
	background-color:#535353  !important;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
position: absolute;
display: inline-block;
right: 15px;
margin-top: 5px;
/* background-color: #cc1515; */
color: #A9A9A9!important;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
color: #A9A9A9 !important;
margin-right: 34px;
}

.dropdown-menu{
    list-style: none;
    background-color: #535353 !important;
}

span.filter-option.pull-left {
    color: #A9A9A9;
}


