	<!-- Navbar Html Start Here 27/03/2017 -->
	<div class="header-container-section">
		<nav class="navbar navbar-default">
			<div class="container" style="width:100% !important;">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				
					<a class="navbar-brand" href="index.html"><img src="../../../assets/images/header-logo.png" alt="FS Logo" Title="FS" /></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div >
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Notification">
                  <i class="fa fa-bell-o"></i>
                  <span class="badge badge-notify">2</span>
                </a>
                            <ul class="dropdown-menu info_receiv">

                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu info">


                                        <li>
                                            <a href="#">
                           5 new members joined
                        </a>
                                        </li>

                                        <li>
                                            <a href="#">
                          You changed your username
                        </a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li class="dropdown lan">
                            <a href="#" class="dropdown-toggle title1" title="Languages" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-flag flag-icon-section"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">English</a></li>
                                <li><a href="#">français</a></li>
                                <li><a href="#">Español</a></li>
                            </ul>
                        </li>
                        <li class="dropdown pro">
                            <a href="#" class="dropdown-toggle title2" data-toggle="dropdown" title="Profile" role="button" aria-haspopup="true" aria-expanded="true"><img src="../../../assets/images/got1.jpg" class="img-circle" alt="User Image"><span id="user-name">John</span></i></a>
                            <ul class="dropdown-menu user_pro">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="../../../assets/images/got1.jpg" class="img-circle pro_img" alt="User Image">

                                    <p id="user-info">
                                        Alexander Pierce - Actor
                                        <small>ID:110101</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="index.html" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
				   </ul>
				</div><!-- /.navbar-collapse -->
	        </div><!-- /.container-fluid -->
	    </nav>
	</div>
	<!-- Navbar Html End Here 27/03/2017 -->