<div class="login_div">
    <div class="col-sm-4  loginform_container_section">
        <div class="page-header">
            <h1>Login </h1>
        </div>
        <div class="login_data">
            <form name="login_form" action="dashboard.html">
                <div class="form-group ">
                    <input class="form-control" type="text" name="username" placeholder="User Name" required id="username" value="asharma" />
                </div>
                <div class="form-group ">
                    <input class="form-control " type="password" name="password" placeholder="Password" required id="password" />
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"/> Remember me</label>
                </div>
                <div>
                    <input class="btn btn-danger btn-block " type="button" value="Log In" id="login-btn" (click)='onLogin()'> 
                </div>
                <div class="contact-info">
                    <p>For Any Assistance & Information, Please Contact:
                    </p>
                    <h6><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;Film Solutions, LLC ;</h6>
                    <h6><i class="fa fa-phone"></i>&nbsp;(818) 588 3500</h6>
                    <h6><i class="fa fa-at" aria-hidden="true"></i>&nbsp;info@filmsolutions.com</h6>
                </div>
            </form>
        </div>
    </div>
</div>