<aside  id="info1" class="control-sidebar control-sidebar-dark">
    <div class="heading">
        <div class="form-group imginfo1">
            <div class="col-lg-9 col-sm-9 col-md-9">
                <p>Image Info</p>
            </div>
            <div class="col-lg-3 col-sm-3 col-md-3">
                <a href="javascript:void(0)" class="closebtn" >&times;</a>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li role="presentation"><a href="#control-sidebar-home-tab" aria-controls="control-sidebar-home-tab" data-toggle="tab">Data</a></li>
        <li role="presentation" class="active"><a href="#control-sidebar-settings-tab" aria-controls="control-sidebar-settings-tab" role="tab" data-toggle="tab">Note</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="control-sidebar-settings-tab">
            <div class="form-group">
                <textarea class="form-control" id="body" rows="3" placeholder="Write Note Here"></textarea>
            </div>
            <div class=" form-group db_com">
                <div class="radio down-input">
                    <label>
            <input type="radio" name="o1" value="">
            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
           Private Note
            </label>
                </div>
                <div class="radio down-input">
                    <label>
            <input type="radio" name="o1" value="">
            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
           Public Note
            </label>
                </div>
            </div>
            <div class="form-group save_note">
                <button class="btn btn-block">Save Note</button>
            </div>

            <div class="divider">

            </div>
            <div class="form-group saved_note">
                <p>9-15-2017 13:36 Rayan[Public]:Done..</p>
            </div>

        </div>
        <div class="tab-pane" id="control-sidebar-home-tab">
            <p><strong>Released:</strong> 2011-11-22 17:33:27</p>
            <p><strong>Batch:</strong> B23_01198-01303_D012</p>
            <p><strong>Image:</strong> B23_01297.jpg</p>
            <p><strong>Image Status:</strong> Locked</p>
            <p><strong>Tagged with:</strong> Daniel Craig</p>
            <p> <strong>Approved By:</strong> Daniel Craig </p>
            <p><strong> Rejected By:</strong> </p>
            <p><strong> In General Albums:</strong> </p>
            <p><strong>Photographer:</strong></p>
            <p><strong>Caption:</strong> Bond (Daniel Craig) meets Q for the first time in the National Portrait Gallery.</p>
        </div>
    </div>
</aside>