<div id="sidebar-wrapper" class="sidebar-wrapper">
    <div class="sidebar-nav">
        <div class="form-group customfilter-selectbox-container">
            <select id="filtered_data" class="selectpicker show-tick form-control filter_data" data-live-search="true">

                <optgroup label="Select a Filter">
                    <option value="viewproject.html">Show All</option>
                    <option value="javascript:void(0)">Locked Approved</option>
                </optgroup>
                <optgroup  label="Album List">
                        <option *ngFor="let alb of albumList"  value=""> {{alb.name}}</option>
                        <option value="javascript:void(0)"> Kevin</option>
                </optgroup>
                <optgroup label="General">
                    <option value="javascript:void(0)">Approved</option>
                    <option value="javascript:void(0)">Rejected</option>
                    <option value="javascript:void(0)">Solo</option>
                    <option value="javascript:void(0)">Group</option>
                    <option value="javascript:void(0)">Retouch Comment</option>
                    <option value="javascript:void(0)"> Image notes</option>
                </optgroup>

                <optgroup label="Tagging">
                    <option>Unpublished</option>
                    <option>Tagged/Unsubmitted-Tagger #1</option>
                    <option>Tagged/Unsubmitted-Tagger #2</option>
                    <option>Unpublished and Untagged-Tagger #1</option>
                    <option>Unpublishe and Untagged-Tagger #2</option>
                    <option>Hidden</option>
                    <option>Published</option>
                </optgroup>

                <optgroup label="Tagging With">
                    <option>PriorityPix</option>
                    <option>Sensitive</option>
                    <option>Misc_Unknown</option>
                    <option>Background</option>
                    <option>Crew</option>
                    <option>Raini Rodriguez</option>
                </optgroup>

                <optgroup label="Excusive">
                    <option>All exclusive</option>
                </optgroup>
            </select>
        </div>
        <div class="tab_div">
            <ul class="tab_ul" role="tablist">
                <li role="presentation" class="active">
                    <a href="#sb_menu" aria-controls="sb_menu" role="tab" data-toggle="tab">
                        <i class="fa fa-th-large" aria-hidden="true"></i>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#pinfo" aria-controls="pinfo" role="tab" data-toggle="tab" title="Project Info">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" title="Advance Search" data-toggle="modal" data-target="#search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content db_com">
            <div role="tabpanel" class="tab-pane active db_com side_dropdown" id="sb_menu">

                <div class="panel-group" id="accordion">

                    <div *ngIf="active_Search" class="panel panel-default advanced_search">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="javascript:void(0)" title="Advance Search" data-toggle="modal" data-target="#search">
                                            <i class="fa fa-search dp_i" aria-hidden="true"></i>
        
                                    </a>
                            </h4>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <a title="Albums" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <i class="fa fa-address-book-o dp_i" aria-hidden="true"></i><span>Albums</span>
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                </h4>
                            </div>
                        </a>
                        <div id="collapse1" class="panel-collapse collapse ">
                            <div class="panel-body">
                                <ul class="submenuItems child_menu" id="albums">
                                    <li class="items">
                                        <i class="fa fa-plus-square-o dp_i" title="Add Album" data-toggle="modal" data-target="#AddAlbum" aria-hidden="true"></i>
                                        <i class="fa fa-minus-square-o dp_i" title="Delete Album" data-toggle="modal" data-target="#DelAlbum" aria-hidden="true"></i>
                                        <i class="fa fa-language dp_i" title="Rename Album" data-toggle="modal" data-target="#RnmAlbum" aria-hidden="true"></i>
                                        <i class="fa fa-pencil-square-o dp_i" title="Edit Album Permissions" data-toggle="modal" data-target="#EdiAlbum" aria-hidden="true"></i>
                                        <i class="fa fa-sort dp_i" title="Sort Images in Selected Album" data-toggle="modal" data-target="" aria-hidden="true"></i>
                                        <i class="fa fa-trash-o dp_i" title="Drag Image to remove from Album" data-toggle="modal" data-target="" aria-hidden="true"></i>
                                    </li>
                                    <li>
                                        <p><i class="fa fa-folder-o" aria-hidden="true"></i>Custom Album</p>
                                    </li>
                                    <li *ngFor="let album of albumList">
                                        <a href="javascript:void(0);">
                                            <span (click)="selectAlbum(album)" [ngClass]="{'albumSelect': album.id === selectedAlbum}">
                                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                            </span>
                                            <span (click)="loadAlbumImages(album)"> {{album.name}}({{ album.imageCount}})</span>
                                        </a>
                                    </li>                                                
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                            <a title="Administration" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                               
                                    <i class="fa fa-users dp_i" aria-hidden="true"></i><span>Administration</span>
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
        
                            </h4>
                        </div>
                    </a>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="submenuItems child_menu">
                                    <li><button class="btn btn-block btn_admin" data-toggle="modal" data-target="#sda_aar">Actor Approval Report</button></li>
                                    <li><button class="btn btn-block btn_admin" data-toggle="modal" data-target="#sda_ffl">Filtered FileName List</button></li>
                                    <li><button class="btn btn-block btn_admin" data-toggle="modal" data-target="#sda_sfl">Selected FileName List</button></li>
                                    <li><button class="btn btn-block btn_admin" data-toggle="modal" data-target="#sda_iex">Image Exclusives</button></li>
                                    <li><button class="btn btn-block btn_admin" data-toggle="modal" data-target="#psreport">Project Summary Report</button></li>
                                    <li><button class="btn btn-block btn_admin" data-toggle="modal" data-target="#imreport">Image Notes Report</button></li>
                                    <li><button class="btn btn-block btn_admin" data-toggle="modal" data-target="#icreport">Image Caption Report</button></li>
                                    <li><button class="btn btn-block btn_admin" data-toggle="modal" data-target="#taggview1">Tagging View #1</button></li>
                                    <li><button class="btn btn-block btn_admin" data-toggle="modal" data-target="#taggview2">Tagging View #2</button></li>
                                    <li><button class="btn btn-block btn_admin" data-toggle="modal" data-target="#curreport">Current Activity Report</button></li>
                                    <li><button class="btn btn-block btn_admin" data-toggle="modal" data-target="#transreport">Transaction Report</button></li>
                                    <li><button class="btn btn-block btn_admin" data-toggle="modal" data-target="#iiftagging">Advanced Image Tagging</button></li>
                                    <li><button class="btn btn-block btn_admin" data-toggle="modal" data-target="#adreport">Actor ID Report</button></li>
                                    <li><button class="btn btn-block btn_admin" data-toggle="modal" data-target="#delivery">Delivery</button></li>
                                    <li><button class="btn btn-block btn_admin" data-toggle="modal" data-target="#foxaechive">FOX Archive Delivery</button></li>
                                    <li><button class="btn btn-block btn_admin" data-toggle="modal" data-target="#unfinalization">Finalize/Unfinalize</button></li>
                                    <li><button class="btn btn-block btn_admin" data-toggle="modal" data-target="#rejtoggle">Rejection Toggle</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                            <a title="Wide Edit Album" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                             
                                    <i class="fa fa-pencil-square-o dp_i" aria-hidden="true"></i><span>Wide Edit Album</span>
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                              
                            </h4>
                        </div>
                    </a>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="submenuItems">
                                    <li class="itemss">
                                        <i class="fa fa-plus-square-o dp_i" title="Add Album" data-toggle="modal" data-target="#AddAlbum1" aria-hidden="true"></i>
                                        <i class="fa fa-minus-square-o dp_i" title="Delete Album" data-toggle="modal" data-target="#DelAlbum1" aria-hidden="true"></i>
                                        <i class="fa fa-language dp_i" title="Rename Album" data-toggle="modal" data-target="#RnmAlbum1" aria-hidden="true"></i>
                                        <i class="fa fa-pencil-square-o dp_i" title="Edit Album" data-toggle="modal" data-target="#EdiAlbum1" aria-hidden="true"></i>
                                        <i class="fa fa-tag dp_i" title="Tagging Album" data-toggle="modal" data-target="#Taggimg" aria-hidden="true"></i>
                                        <i class="fa fa-envelope dp_i" title="Email" data-toggle="modal" data-target="#Emailnote" aria-hidden="true"></i>
                                        <i class="fa fa-sign-out dp_i" title="Album Sign-off" data-toggle="modal" data-target="#album-sign-off" aria-hidden="true"></i>
                                    </li>
                                    <li>
                                        <p><i class="fa fa-folder-o" aria-hidden="true"></i>Custom Album</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                            <a title="Audit" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        <div class="panel-heading">
                            <h4 class="panel-title">
            
                                            <i class="fa fa-file-text-o dp_i" aria-hidden="true"></i><span>Audit</span>
                                            <i class="fa fa-chevron-down" aria-hidden="true"></i> 
                                       
                            </h4>
                        </div>
                    </a>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="submenuItems child_menu">
                                    <li><a href="javascript:void(0)">Conflicts</a></li>
                                    <li><a href="javascript:void(0)">No Conflicts</a></li>
                                    <li><a href="javascript:void(0)">Bypass 2nd Tagger</a></li>
                                    <li class="aud_btn"> <button class="btn">Publish Image(s)</button></li>
                                    <li class="aud_btn"> <button class="btn">Hide Image(s)</button></li>
                                    <li class="aud_btn"> <button class="btn">UnhideImage(s)</button></li>
                                    <li class="aud_btn"> <button class="btn">Clear Tagg(s)</button></li>
                                    <li class="aud_btn"> <button class="btn">Clear Single Tag</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div role="tabpanel" class="tab-pane pinfo db_com" id="pinfo">
                <h1>Project Info</h1>
                <div class="db_com info_div">
                    <div class="info-up indigo lighten-1"></div>
                    <div class="info_avatar">
                        <img src="./assets/images/agents_of_shield.png" class="rounded-circle">
                    </div>
                    <div class="info-body">
                        <h4 class="info-title">Photo : 102</h4>
                        <hr>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>
                                    <i class="fa fa-camera" aria-hidden="true"></i>
                                    <span>Bob D'Amico</span>
                                </p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <span>03/17/2017</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
